/* ------------------ */
/*   reset css        */
/* ------------------ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h3,
p {
  margin: 0;
}
/* remove ul margin padding  */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /* 1rem equal to 10px */
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* css varibles */
:root {
  /* Primary */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  /* Neutral */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  background-color: var(--Off-white);
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  scroll-behavior: smooth;
}

/* ------------------------------- */
/*     global css utility classes  */
/* ------------------------------- */
.wrapper {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
/* hide menu bars */
.bar_container {
  display: none;
}

/* --------------------------------- */
/*           Header                  */
/* --------------------------------- */

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
}
/* logo */
.logo_container {
  width: 50px;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* nvabar links */
.navbar_link_list {
  display: flex;
  align-items: center;
}
.navbar_link_item {
  margin-left: 25px;
}
.link {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  letter-spacing: 1px;
}
.link:hover {
  color: var(--Soft-orange);
  transition: all, 0.25s;
}

/* media queries for navbar */
@media (max-width: 570px) {
  /* menu handle bars */
  .bar_container {
    display: inline-block;
    cursor: pointer;
    z-index: 99999999999;
  }
  .bar {
    background-color: black;
    height: 3px;
    width: 34px;
    margin: 4px 0;
    transition: 0.2s;
  }
  #hamburger.active .bar_2 {
    opacity: 0;
  }
  #hamburger.active .bar_1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  #hamburger.active .bar_3 {
    transform: translate(0, -7px) rotate(45deg);
  }
  .navbar_link_list_container {
    position: absolute;
    top: -1000px;
  }

  @keyframes menuAnimation {
    from {
      right: -1000px;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
  .navbar_link_list_container.active {
    min-height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    animation: menuAnimation;
    animation-duration: 0.25s;
    backdrop-filter: brightness(30%);
  }

  .mobile_menu {
    background-color: var(--Off-white);
    position: absolute;
    right: 0px;
    width: 70%;
    height: 100%;
  }

  .navbar_link_list {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
  }

  .navbar_link_item {
    margin-bottom: 30px;
  }

  .link {
    font-weight: 700;
    font-size: 1.9rem;
  }
}
/* main */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  gap: 25px;
  padding-bottom: 50px;
}
.hero_img {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100%;
  background-image: url('./images/image-web-3-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  gap: 20px;
}
.main_heading {
  color: var(--Very-dark-blue);
  font-size: 5rem;
  font-weight: 800;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
}
.hero_description {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
}
.hero_description > .description {
  padding-top: 10px;
  margin-bottom: auto;
}
.hero_description > .button {
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
  font-weight: 500;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  letter-spacing: 2px;
}
.hero_description > .button:hover {
  transition: all, 0.25s;
  background-color: var(--Very-dark-blue);
}
.aside {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 15px;
  background-color: var(--Very-dark-blue);
}

.aside_heading {
  font-size: 3rem;
  color: var(--Soft-orange);
  padding-bottom: 10px;
  padding-top: 10px;
}
.aside_div {
  padding: 30px 0;
  border-bottom: 1px solid var(--Grayish-blue);
}

.aside_div:nth-last-child(1) {
  border-bottom: none;
}

.aside_mini_heading {
  color: var(--Off-white);
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.aside_div > .description {
  color: var(--Grayish-blue);
}

.aside_mini_heading:hover {
  transition: all, 0.25s;
  color: var(--Soft-orange);
}

.description {
  color: var(--Dark-grayish-blue);
}
@media (max-width: 866px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
  }
  .hero_img {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .hero_text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .hero_description > .description {
    padding-bottom: 25px;
  }
  .aside {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 20px;
  }
}

@media (max-width: 560px) {
  .hero_img {
    height: 300px;
    background-image: url('./images/image-web-3-mobile.jpg');
  }
  .hero_text {
    padding-bottom: 20px;
  }
  .main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .main_heading {
    padding-bottom: 20px;
  }
  .aside_heading {
    padding-bottom: 0;
  }
}

/* mini_container_section */
.mini_container_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 25px;
  margin-bottom: 20px;
}
.mini_container {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
  min-height: 140px;
}
.mini_container:nth-child(1) .mini_img {
  background-image: url('./images/image-retro-pcs.jpg');
}
.mini_container:nth-child(2) .mini_img {
  background-image: url('./images/image-top-laptops.jpg');
}
.mini_container:nth-child(3) .mini_img {
  background-image: url('./images/image-gaming-growth.jpg');
}
.mini_img {
  grid-column-start: 1;
  grid-column-end: 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.mini_div_description {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini_div_description > .heading {
  font-size: 3rem;
  color: var(--Grayish-blue);
}
.mini_div_description > .mini_heading {
  color: var(--Very-dark-blue);
  font-weight: 800;
  font-size: 2rem;
  cursor: pointer;
}
.mini_div_description > .mini_heading:hover {
  transition: all 0.25s;
  color: var(--Soft-red);
}
.mini_div_description > .description {
  padding-bottom: 8px;
}
/* attribution */
.attribution {
  border-top: 1px solid var(--Very-dark-blue);
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.6rem;
}
